<div ng-controller=UserController ng-init="find()">
   <div id="fh5co-content">
      <div class="container">
         <div class="row">
            <div class="col-md-10 col-md-offset-1">
               <div class="row">
                  <div class="col-md-3">
                     <h3>{{moduleName}}</h3>
                     <p class="">This is where we view/edit/delete user accounts. Click <a ng-href="/#!/">here</a> to go back to the main page.</p> 
                  </div>
                  <div class="col-md-9">
                     <h3>{{routeTitle_list}}</h3>
                     <table class="table">
                     <tr>
                         <th>First Name</th> 
                         <th>Last Name</th>
                         <th>Username</th>
                         <th>Provider</th>
                         <th colspan="3">Action</th>
                     </tr>
                     <tr ng-repeat="user in users">
                         <td ng-bind="user.firstName"></td>
                         <td ng-bind="user.lastName"></td>
                         <td ng-bind="user.username"></td>
                         <td ng-bind="user.provider"></td>
                         <td><a ng-href="/#!/users/{{user._id}}" class="glyphicon glyphicon-eye-open"></a></td>                         
                         <td><a ng-href="/#!/users/{{user._id}}/edit" class="glyphicon glyphicon-edit"></a></td>
                         <td><a ng-href="/#!/" class="glyphicon glyphicon-trash" ng-click="delete()"></a></td>
                     </tr>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
